# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# Local files
.env

# Hugo specific
.archetypes
.layouts
.content
.data
.i18n
.static
.themes
.hugo_cache

# GitHub Actions
.github/workflows/*