<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} - Hyunsoo Han</title>
    {{ $styleCSS := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $styleCSS.Permalink }}">
</head>
<body>
    {{ partial "nav.html" . }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
    {{ $mainJS := resources.Get "js/main.js" }}
    <script src="{{ $mainJS.Permalink }}"></script>
</body>
</html>